* {
    background-color: inherit;
    font-family: Arial;
    margin: 0px;
    padding: 0px;
    border: border-box;

}

#nav-bar {
    display: flex;
    height: 60px;
    background-color: #0f1111;
    align-items: center;
    justify-content: space-evenly;
}

#logo {
    height: 50px;
    /* background-color: inherit */
}

#logo-img {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 45px;
    width: 110px;
    /* background-color: inherit; */
}

#top-adr {
    display: flex;
    height: 50px;
    flex-direction: row;
    align-items: center;
    color: #ffffff;
}

#loc {
    margin-top: 8px;
    scale: 1.1;
}

#deliver {
    margin-left: 5px;
}

#prim-adr {
    font-size: 12px;
    color: #cccccc;
}

#sec-adr {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}

.hvr {
    border: 2px solid transparent;
    padding: 2px;
    border-radius: 2px;
}

.hvr:hover {
    border: 2px solid #ffffff;
    padding: 2px;
    border-radius: 2px;
}

#search-bar {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 1200px;
}

#dropdown {
    display: flex;
    width: 50px;
    height: 40px;
    align-items: center;
    justify-content: space-evenly;
}

#menu {
    width: 50px;
    height: 40px;
    align-items: center;
    justify-content: space-evenly;
    background-color: #efefef;
    font-size: 14px;
    border: none;
    border-radius: 3px 0px 0px 3px;
}

#s-text {
    width: 700px;
    height: 40px;
    background-color: white;
    font-size: 18px;
    align-content: center;
    color: #555555;
    padding-left: 5px;
    flex-grow: 1;
    min-width: 100px;
}

#s-logo {
    width: 45px;
    height: 40px;
    background-color: #febd69;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 3px 3px 0px;
}

#mag-glass {
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 1.3;
    background-color: transparent;
}

#lang {
    display: flex;
    width: 60px;
    height: 40px;
    font-size: 14px;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    color: #efefef;
}

#flag {
    height: 16px;
    width: 21px;
    background-image: url("US_Flag.png");
    background-size: cover;
    margin-top: 20px;
}

#EN {
    align-self: flex-end;
    font-weight: bold;
    margin-bottom: 3px;
}

#arrow {
    align-self: flex-end;
    color: #cccccc;
    margin-bottom: 2px;
}

#sign-in {
    color: white;
    font-size: 12px;
    height: 45px;
    width: 130px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#si-cont {
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#si2 {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff
}


#arrow2 {
    align-self: flex-end;
    margin-bottom: 4px;
    color: #cccccc;
}

#RnO {
    height: 50px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#RnO-cont {
    height: 30px;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

#ret {
    font-size: 12px;
    color: #ffffff;
}

#odr {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}

#cart {
    height: 50px;
    width: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

#cart-icon {
    scale: 1.6;
    background-color: transparent;
    padding: 0px 0px 10px 0px;
}

#cart-text {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    align-self: flex-end;
    margin-bottom: 11px;
}

#cart-num {
    font-size: 16px;
    font-weight: bold;
    z-index: 1;
    color: #f08804;
    position: relative;
    top: 3px;
    left: 6px;
    background-color: transparent;
}

#sub-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 5px; /* Controls space between items */
    padding: 0 10px;
    height: 40px; /* Allow it to grow if it wraps */
    align-items: center;
    justify-content: flex-start; /* Align items from the left */
    background-color: #232f3e;
    color: #ffffff;
    font-size: 14px;
}

#sub-main-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    height: 30px;
    padding-left: 10px;
    font-weight: bold;
}

#sub-menu-logo {
    scale: 1.3;
}

.sub-menu-item {
    height: 17px;
    padding: 7px;
}

#hero {
    background-image: url("hero_image.jpg");
    background-size: cover;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#hero-text {
    width: 80em;
    text-align: center;
    background-color: #ffffff;
    color: #0f1111;
    align-self: center;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-self: center; */
    margin: 0px 0px 10px 0px;
}

.hero-text1 {
    font-size: 16px;
}

.hero-link {
    color: #2162a1;
    text-decoration: none;
}

#hero-link:hover {
    color: #0c3353;
    text-decoration: none;
}

.shop-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #efefef;
    padding-bottom: 10px;
    /* flex-wrap: wrap; */
}

.shop-box {
    width: 23%;
    height: 420px;
    padding: 20px 0px 10px 10px;
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: white;
}

.shop-title {
    font-size: 21px;
    color: #0f1111;
    font-weight: bold;
    align-self: center;
    width: 90%;
}

#b1-img {
    background-image: url("box1_image.jpg");
}

#b2-img {
    background-image: url("box2_image.jpg");
}

#b3-img {
    background-image: url("box3_image.jpg");
}

#b4-img {
    background-image: url("box4_image.jpg");
}

#b5-img {
    background-image: url("box5_image.jpg");
}

#b6-img {
    background-image: url("box6_image.jpg");
}

#b7-img {
    background-image: url("box7_image.jpg");
}

#b8-img {
    background-image: url("box8_image.jpg");
}

.shop-bg-img {
    background-size: cover;
    width: 90%;
    height: 320px;
    align-self: center;
}

.shop-but-div {
    width: 90%;
    height: 20px;
    background-color: transparent;
    align-self: center;
}

.shop-but {
    color: #2162a1;
    font-size: 13px;
    text-decoration: none;
    border: none;
}

.shop-but:hover {
    color: #0c3353;
}

#personalized {
    width: 100%;
    height: 115px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-top: 1px solid #b5b5b5;
    border-bottom: 1px solid #b5b5b5;
}

#p-dummy {
    height: 20px;
    width: 100%;
    background-color: inherit;
}

#p-text {
    font-size: 24px;
    color: #000000;
    font-weight: bold;
}

.sign-in {
    width: 250px;
    height: 30px;
    text-align: center;
    background-color: #ffd814;
    font-size: 13px;
    color: #0f1111;
    padding: 0px 12px 0px 12px;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text2 {
    font-size: 11px;
}

#back-to-top {
    background-color: #37475A;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 13px;
}

#foot-1 {
    background-color: #232f3e;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.f1-cont {
    /* width: 23%; */
    height: 150px;
    margin: 20px 10px 20px 10px;
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #dddddd;
    font-size: 14px;
    /* padding: 10% 20% 10% 20%; */
}

.f1-title {
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin: 5px 0px 10px;
}

.f1-sub-cont {
    margin: 10px 0px 0px 0px;
}

.foot1-dummy {
    width: 20%;
    height: 10px;
}

#foot-2 {
    background-color: #232f3e;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.foot2-dummy {
    width: 30%;
    height: 10px;
}